<div class="category">
  <%= link_to "<", groups_index_path, class:"back" %>
  <h1>Add a new category</h1>
</div>

<%= form_with(model: @group, url: groups_create_path ) do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :icon %>
    <%= form.file_field :icon%>
  </div>
  
  <%= form.submit "SUBMIT", class:"btn" %>
<% end %>