<%= link_to "(<)", groups_index_path %>

<p> Total: <%= @total %> </p>

<% @deals.each do |deal| %>
  <div  class="card">
    <div style="display:flex; max-height:100%">
      <div style="max-width:100px">
        <%= image_tag(@category.icon, style:"width:100%; height:100%")%>
      </div>
      <div class="content">
        <p> <%= deal.name %> </p>
        <p class="date"> <%= deal.created_at.strftime("%d %B %Y") %> </p>
      </div>
    </div>
    <p class="quantity"> $<%= deal.amount %> </p>
  </div>
<% end %>

<%= link_to "add a new transaction", deals_new_path %>
