<%= link_to "(<)", groups_index_path %>

<p> Total: <%= @category.total %> </p>

<% @deals.each do |deal| %>
  <div style:"display:flex">
    <%= image_tag(@category.icon, style:"width:20px; height:20px")%>
    <p> <%= deal.name %> </p>
    <p> <%= deal.amount %> </p>
  </div>
<% end %>

<%= link_to "add a new transaction", deals_new_path %>
